<%= form_for :version, url: "/articles/#{@article.id}/versions", method: 'post' do |f| %>
  <p><%= label_tag(:title, "title") %></p>
  <%= f.text_field :title %>
  <p><%= label_tag(:photo_url, "featured photo") %></p>
  <%= f.text_field :photo_url %>
  <p><%= label_tag(:body, "body") %></p>
  <%= f.cktext_area :body, rows: 10 %>
  <%= f.submit %>
<% end %>
