<%= form_for :version, url: "/articles/#{@article.id}/versions", method: 'post' do |f| %>
  <p><%= label_tag(:title, "Title") %></p>
  <%= f.text_field :title %>
  <p><%= label_tag(:photo_url, "Featured photo") %></p>
  <%= f.text_field :photo_url %>
  <p><%= label_tag(:body, "Body") %></p>
  <%= f.cktext_area :body, rows: 10 %>
  <%= check_box_tag(:is_published) %>
  <%= label_tag(:is_published, "Publish This Version?") %>
    <%= f.submit %>
<% end %>
