<!DOCTYPE html>
<html>
  <head>
    <title>Fillypedia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-links">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to"About", about_path %></li>
        <% if logged_in? %>
            <li><%= link_to"Profile", user_path(current_user) %></li>
          <% end %>
        </ul>
      </div>

      <div class="search-form">
        <%= form_tag articles_path, method: 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", name: nil %>
        <% end %>
      </div>

      <div class="login-register">
        <% if logged_in? %>
          <button class="button"><%= link_to "Logout", logout_path, method: :delete %></button>
        <% else %>
          <button class="button"><%= link_to "Register", new_user_path %></button>
          <button class="button"><%= link_to "Login", login_path %></button>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
